* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 33%;
}

.right {
  width: 67%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  color: "black";
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 60px;

}

body{
  background-color: #faf9f7;
}

h1 {
  font: 45px monaco;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
  color: rgba(0, 0, 80, 0.90);
}

h2 {
  font: 15px monaco;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
  color: rgba(0, 0, 80, 0.50);
}

p {
  font: 15px monaco;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 80px;
  color: rgba(0, 0, 80, 0.50);
}
