@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
html {scroll-behavior: smooth;}
* {box-sizing: border-box;}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f2f2f2;
  transition: .6s;
}
a {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px 20px;
  margin: 4px 2px;
  color: #3d3935;
}
h1 {
  font-size: max(4vw, 4vh, 32px);
  color: #3d3935;
  font-weight: 700;
}
p1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: min(5.00vw, 5.00vh, 32px);
  color: rgba(61, 57, 53, 0.75);
  font-weight: 700;
}
p2 {
  font-size: min(5.00vw, 5.00vh, 16px);
  color: rgba(61, 57, 53, 0.90);
  font-weight: 500;
}
p3 {
  font-size: 16px;
  color: #3d3935;
  font-weight: 300;
  margin-top: 16px;
}
.column {
  float: left;
  height: 8vh;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#header {
  width: 80%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-left: 10%;
}
#middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
.card {
  background-color: rgba(193, 193, 193, 0.25);
  padding: 10px 20px;
  text-align: justify;
  width: 50%;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 34px;
  transition: .4s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: .4s;
}
input:checked + .slider {
  background: #f7f0e9;
}
input:checked + .slider:before {
  transform: translateX(26px);
  background: #333333;
}
.dark-mode {
  background: #333333;
}
.dark-mode h1 {
  color: #f7f0e9;
}
.dark-mode a {
  color: #f7f0e9;
}
.dark-mode p1 {
  color: #f7f0e9;
}
.dark-mode p2 {
  color: #f7f0e9;
}
.dark-mode p3 {
  color: #f7f0e9;
}
